In [1]:
import pandas as pd

In [2]:
path = "/home/khaldi/Documents/github_repos/refined_mlflow/recipes/test.csv"

In [12]:
df = pd.read_csv(path)

In [14]:
df.apply()

TypeError: DataFrame.apply() missing 1 required positional argument: 'func'

In [13]:
df = df[["review_count", "review_score", "category"]]

In [11]:
df.to_csv(path, index=False)

In [15]:
df

     review_count  review_score        category
0             220           1.7        Clothing
1             903           3.2  Home & Kitchen
2             163           4.5            Toys
3             951           3.9            Toys
4             220           4.2           Books
..            ...           ...             ...
995           494           3.6  Home & Kitchen
996           701           4.8  Home & Kitchen
997           287           1.3          Sports
998           720           1.2          Sports
999           114           2.1            Toys

[1000 rows x 3 columns]

In [16]:

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df["category"] = le.fit_transform(df["category"].astype(str))

# Display the first few rows of the transformed dataset
print(df.head())

   review_count  review_score  category
0           220           1.7         1
1           903           3.2         4
2           163           4.5         6
3           951           3.9         6
4           220           4.2         0

In [17]:
df.to_csv(path, index=False)